body {
    margin: 0;
    padding: 0;
    background: rgb(240, 239, 239);
    font-family: "Poppins", sans-serif;
  }
  
  h1 {
    margin: 0;
    font-weight: 400;
  }
  
  h2 {
    margin: 0;
    font-weight: 400;
    display: inline-block;
  }
  
  .container {
    background: #fff;
    width: 70rem;
    padding: 3rem;
    margin: 1rem auto;
    border-radius: 0.5rem;
  }
  
 
  
  .header-left {
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 2rem;
  }
  
  .first-name {
    font-weight: 400;
    margin: 0;
  }
  .last-name {
    font-weight: 200;
    margin: 0;
  }
  
 
  
  .header-right p {
    display: inline-block;
  }
  
  .gray {
    
    color: #fff;
    padding: 0.7rem;
    border-radius: 0.3rem;
  }
  
  .icon {
    color: rgb(223, 223, 223);
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }
 
  .content {
     
    margin: 0.5rem;
  }
